@model Contact

<h1>Contacts Detais</h1>
<hr />
<div>
    <h4>First Name: @Model.FirstName</h4>
    <h4>Last Name: @Model.LastName</h4>
    <h4>Email: @Model.Email</h4>
    <h4>Company Name: @Model.Company</h4>
    <h4>Contact Number: @Model.ContactNumber</h4>

</div>
<hr />
<p>
    <a asp-action="Edit" asp-route-id="@Model.contactId" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.contactId" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</p>